.left-side-navbar-caontainer {
    .logo-caontainer {
        display: flex;
        padding: 0.625rem;
        height: 3.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        background-color: #3B6740;
        width: 15rem;
        position: relative;
        left: 0;

        img {
           width: 14.375rem;
        }

    }

}