.navbar-caontainer {
    display: flex;
    padding: 0.625rem;
    /* justify-content: space-between; */
    justify-content: flex-start;
    gap: 2.4rem;
    align-items: center;
    position: relative;
    left: 15rem;
    top: -3.75rem;
    
    

    .SolidStore {
        display: flex;
        align-items: center;
        gap: 0.313rem;
        padding-right: 32rem;

        p {
            color: #000;
            font-family: Outfit;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

    }

    input {
        display: flex;
        width: 24.688rem;
        padding: 0.75rem 1rem;
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        align-items: flex-start;
        border-radius: 0.313rem;
        border: 0.063rem solid var(--Grey-Grey-400, #BDBDBD);
        background: var(--White-White-200, #F9FAFB);

    }

    .profile-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.375rem;

        .profile {
            display: flex;
            width: 2.125rem;
            height: 2.125rem;
            background-color: #3B6740;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            .first-name-first-later{
                color: white;
                
            }
        }

        p {
            color: var(--black-text, #2E2E2E);
            font-family: Outfit;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 21px */
        }
    }
}