*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    border-bottom: 4px dashed black;
    padding: 16px;
    display: flex;
    gap: 30px;
   
    
}
.nav input{
    flex-grow: 1;
}
.profile{
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
}

/* gride */

nav, footer{
    background-color: blue;
    grid-column-start:1 ;
    grid-column-end:5 ;
}

body{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 100px 400px 140px;
}

aside{
    background-color: aqua;
}

main{
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 50px;
}
footer{
    background-color:pink ;
}
section{
    background-color: rgb(200, 20, 50);
    height: 100%;
}