* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-nav {
  padding: 10px;
  background-color: #252F25;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 12px;
  select{
    width: 30px;
  }

  .count-product {
    display: flex;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #3a463a;

  }

  .textdec {
    font-size: 1.5rem;
    line-height: 2rem;
  }

}

.home-nav>.signbtn {
  font-size: small;

}

.home-nav>h4 {
  width: 76px;
}

.home-nav>p {
  width: 80px;
  font-size: 12px;
}

.home-nav-serch {
  flex-grow: 1;
  height: 30px;

  display: flex;

  input {
    flex-grow: 1;
  }

}

.home-cat {
  background-color: #3a463a;
  padding: 10px 16px;
  height: 40px;
  display: flex;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    background-color: transparent;
    padding: 4px 8px;
    color: white;
    border: none;
  }




}

.home-cat>.cat-item {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  padding: 0 12px;
}


.home-card-page>.card-img {
  width: 100%;
}

.home-card-page>.home-card-page-container {

  top: -320px;
  position: relative;
  margin: 0 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.products-info-card {
  background-color: #fff;
  flex-basis: 340px;
  flex-grow: 1;
  padding: 12px 16px;

  h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .products-item-cards-container {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .products-item-card {
      width: calc(50% - 8px);

      img {
        width: 100%;
        height: 106px;
      }
    }
  }
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 70%;
  /* height: 300px; */

  margin: 10px auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 17px;
  display: flex;

}

.card img {

  border-radius: 10px 10px 0 0;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0;
  padding-bottom: 5px;
}

.card .rating {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.card .rating span {
  font-size: 14px;
  margin-left: 4px;
  color: #ff9900;
}

.card .price {
  font-size: 24px;
  color: #b12704;
  margin: 8px 0;
}

.card .original-price {
  text-decoration: line-through;
  color: #565959;
  font-size: 16px;
}

.card .discount {
  color: #b12704;
  font-size: 16px;
}

.card .delivery {
  color: #007185;
  font-size: 16px;
  margin: 8px 0;
}

.bttn {
  width: 50px;
}

.card .prime {
  color: #007185;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.card .add-to-cart {
  display: inline-block;
  background-color: #ffd814;
  color: #0f1111;
  padding: 8px 16px;
  border: 1px solid #ffd814;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.card .more-buying-choices {
  font-size: 14px;
  color: #007185;
  margin: 8px 0;
}

.card .more-buying-choices a {
  color: #007185;
  text-decoration: none;
}

.amazon-logo {
  height: 35px;
  width: 100px;
}