* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    height: 6vh;
    background-color: #414141;
}



.fotter {
    height: 4.5vh;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 88.5vh;

    margin: 10px;

}